* {
  margin: 0;
  padding: 0;
}
.container {
  width: 40%;
  height: 300px;
  background-color: rgb(27, 65, 65);
  color: white;
  margin: auto;
}
.center {
  width: 185px;
  margin: auto;
  padding-top: 100px;
}
.head {
  width: 165px;
  padding: 10px;
  text-align: center;
  background-color: green;
}
.main {
  display: flex;
}
.main p {
  width: 40px;
  padding: 10px;
  background-color: rgb(196, 221, 213);
  margin-left: 1px;
  color: blue;
  text-align: center;
}
.btns {
  display: flex;
  margin: auto;
}
.btn {
  width: 33%;
  font-weight: bold;
}

#reset,
#pause {
  visibility: hidden;
}

@media (max-width: 600px) {
  .center {
    width: 185px;
  }
  .head {
    width: 120px;
    padding: 5;
  }

  .main p {
    width: 31px;
    padding: 7px;
  }
  .btns {
    display: flex;
    margin: 0;
    width: 138px;
  }
  .btn {
    width: 33%;
    font-weight: bold;
  }
}
